.ancient_card {
    height: 260px;
    width: 200px;
    cursor: pointer;
    border-radius: 5%;
    background-size: contain;
    box-sizing: border-box;
    background-position: 50%;
    background-repeat: no-repeat;
}

.ancient_card.active {
    border: 2px #fff solid;
    box-shadow: 4px 5px 40px rgba(255, 255, 255, 0.8);
}